*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.loginparent{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url("../Data/3425225.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    
  }
.loginform{
    background-color: white ;
    padding: 1vw 3.5vw;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
.loginform .anchors{
  display: flex;
  justify-content: space-between;
}
.loginparent h1{
    color: rgb(77, 1, 77);
    text-align: center;
}
.inputform span{
    color: red;
}
.loginparent .button{
    width: 100%;
    height: 45px;
    padding: 10px;
    border: none;
    /* background-color: rebeccapurple; */
    background: rebeccapurple;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 10px; 
  }
  .loginparent .button:hover{
    background: linear-gradient(93.87deg,#095ae6,#062794);
  }
  