@keyframes ripple {
    to {
      opacity: 0;
      transform: scale(3);
    }
}
.ripple{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.ripplespan {
    transform: scale(0);
    border-radius: 100%;
    position: absolute;
    opacity: 0.75;
    background-color: #1fecf9;
    animation-name: ripple;
    animation-duration:2000ms;
  }

 